@import "tailwindcss" reference;

.overlay-outline {
  --outline-width: 1rem;
  outline-width: var(--outline-width);
  outline-offset: calc(var(--outline-width) * -1);
}

@media (width >= theme(--breakpoint-md)) {
  .overlay-outline {
    --outline-width: 2rem;
  }
}
