[package]
name = "wasm-imperator"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["miniz"]
miniz = ["imperator-save/miniz"]
libdeflate = ["imperator-save/libdeflate"]

[dependencies]
jomini = "0.19"
schemas = { path = "../schemas" }
wasm-bindgen = { version = "0.2", features = ["serde-serialize"] }
serde = { version = "1", features = ["derive"] }
imperator-save = { git = "https://github.com/rakaly/imperator-save.git" }
js-sys = "0.3"

[package.metadata.wasm-pack.profile.release]
wasm-opt = false