**/target
**/*.rs.bk
dist/
assets/eu4-saves
assets/game-bundles
assets/game/eu4/1.*
assets/game/eu4/common/images/advisors
assets/game/eu4/common/images/buildings
assets/game/eu4/common/images/flags
assets/game/eu4/common/images/personalities
assets/game/eu4/common/images/tc-investments
assets/game/eu4/common/images/achievements/*
!assets/game/eu4/common/images/achievements/10000.png
assets/tokens
.env
dev/.env.*prod
dev/.env.*staging
*.node
tmp/
node_modules
