**/target
**/*.rs.bk
dist/
build/
assets/eu4-saves
assets/game-bundles
assets/game/eu4/1.*
assets/game/eu4/common/images/advisors
assets/game/eu4/common/images/buildings
assets/game/eu4/common/images/flags
assets/game/eu4/common/images/personalities
assets/game/eu4/common/images/tc-investments
assets/game/eu4/common/images/achievements/*
!assets/game/eu4/common/images/achievements/10000.png
assets/tokens
.env
dev/.env.*prod
dev/.env.*staging
*.node
tmp/
node_modules
*.swp
.idea
.vscode/settings.json
.pnpm-store/
.wrangler

# Docusaurus ignores
.docusaurus/

# src/app ignores
src/app/public/assets
src/app/public/blog*
src/app/public/changelog*
src/app/public/docs*
src/app/public/img
src/app/app/server-lib/save-parsing-types.ts
src/app/app/lib/game_gen.ts
