[package]
name = "wasm-eu4"
version = "0.1.0"
authors = ["Nick Babcock <nbabcock19@hotmail.com>"]
edition = "2024"
publish = false

[lints]
workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["zstd_rust"]
zstd_c = ["pdx-zstd/zstd_c", "eu4save/zstd_c", "eu4game/zstd_c"]
zstd_c_fat_lto = ["pdx-zstd/zstd_c_fat_lto", "eu4save/zstd_c", "eu4game/zstd_c"]
zstd_rust = ["pdx-zstd/zstd_rust", "eu4save/zstd_rust", "eu4game/zstd_rust"]

[dependencies]
eu4game = { default-features = false , workspace = true }
eu4save = { default-features = false, features = ["tsify"] , workspace = true }
jomini = { workspace = true }
js-sys = { workspace = true }
pdx-zstd = { workspace = true }
schemas = { workspace = true }
serde = { features = ["derive"] , workspace = true }
serde-wasm-bindgen = { workspace = true }
tsify = { default-features = false, features = ["js"] , workspace = true }
wasm-bindgen = { workspace = true }
wasm-pdx-core = { workspace = true }

[dev-dependencies]
wasm-bindgen-test = { workspace = true }

