version: '3'
services:
  db:
    build:
      dockerfile: postgres.dockerfile
      context: .
    ports:
      - "${DATABASE_PORT}:5432"
    environment:
      - DATABASE_APP_USER=${DATABASE_USER}
      - DATABASE_APP_USER_PASSWORD=${DATABASE_PASSWORD}
      - POSTGRES_PASSWORD=${DATABASE_ADMIN_PASSWORD}
      - DATABASE_BACKUP_PASSWORD=${DATABASE_BACKUP_PASSWORD}

  s3:
    image: minio/minio@sha256:c92f04149c93010eefc4e4581b18fb4b9ea46af8e9f658291c377388b7691828
    environment:
      - MINIO_ROOT_USER=${S3_ACCESS_KEY}
      - MINIO_ROOT_PASSWORD=${S3_SECRET_KEY}
    ports:
      - "${S3_PORT}:9000"
    command: server /data

  createbuckets:
    image: minio/mc
    depends_on:
      - s3
    entrypoint: >
      /bin/bash -c "
      /usr/bin/mc config --insecure host add myminio $${SCHEME-http}://s3:9000 miniominio minio12minio;
      /usr/bin/mc mb --insecure --ignore-existing myminio/savefiles;
      exit 0;
      "
