[package]
name = "wasm-hoi4"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["zstd/fat-lto"]

[dependencies]
jomini = "0.24"
schemas = { path = "../schemas" }
wasm-bindgen = { version = "0.2" }
serde-wasm-bindgen = "0.5"
serde = { version = "1", features = ["derive"] }
hoi4save = { git = "https://github.com/rakaly/hoi4save.git" }
js-sys = "0.3"
zstd = { version = "0.13.0", default-features = false }
tsify = { version = "0.4.5", default-features = false, features = ["js"] }

[package.metadata.wasm-pack.profile.release]
wasm-opt = false