#__next {
  height: 100%;
  min-height: 100vh;
}

.no-break {
  hyphens: none;
  white-space: nowrap;
}

/* https://github.com/csstools/sanitize.css/blob/092d0d85922bfa72d28e9e8d25d80a5437c8df44/assets.css */
:where(img) {
  height: auto;
  max-width: 100%;
}
