[package]
name = "wasm-ck3"
version = "0.1.0"
authors = ["Nick Babcock <nbabcock19@hotmail.com>"]
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[features]
default = ["miniz"]
miniz = ["ck3save/miniz"]
libdeflate = ["ck3save/libdeflate"]

[dependencies]
jomini = "0.20"
schemas = { path = "../schemas" }
wasm-bindgen = { version = "0.2", features = ["serde-serialize"] }
serde = { version = "1", features = ["derive"] }
ck3save = { git = "https://github.com/rakaly/ck3save.git" }
js-sys = "0.3"

[package.metadata.wasm-pack.profile.release]
wasm-opt = false