{
  "extends": "next/core-web-vitals",
  "rules": { 
    // https://github.com/yannickcr/eslint-plugin-react/issues/894#issuecomment-613789396
    "react/no-unescaped-entities": ["error", { "forbid": [">", "}"] }]
  }
}
