public/assets
public/blog*
public/changelog*
public/docs*
public/img
public/updates.json
*_gen.ts
app/server-lib/save-parsing-types.ts
app/wasm/

node_modules
yarn.lock

.DS_Store
.cache
.env
.vercel
.output
.vinxi
.wrangler

/build/
/api/
/server/build
/public/build
.vinxi
# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
