[package]
name = "schemas"
version = "0.1.0"
edition = "2024"
publish = false

[lints]
workspace = true

[features]
inline = []

[dependencies]
flatbuffers = { workspace = true }
jomini = { workspace = true }
