name: Lint

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [master]

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - run: rustup component add rustfmt
      - name: Check formatting
        run: mise run format:check

  main:
    runs-on: ubuntu-latest
    env:
      CARGO_INCREMENTAL: 0
      CARGO_PROFILE_DEV_DEBUG: 0
    steps:
      - uses: actions/checkout@v4
      - uses: jdx/mise-action@v2
      - run: rustup component add clippy
      - run: mise run lint

  miri:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@miri
      - run: cargo +nightly miri setup
      - run: cargo +nightly miri test -p bumpalo-serde
        env:
          MIRIFLAGS: -Zmiri-strict-provenance
